/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meu código */

*{
	padding: 0;
	margin: 0;
}
:root{
	--ford-claro: #1351d8;
	--ford-escuro: #1b357e;
}
/* Tags */
header{
	display: flex;  
	flex-direction: row;
}

footer{
	display: flex;
	background-color: var(--ford-escuro);
	flex-direction: row;
}
/* Minhas Classes */
/* Class Header */
.Logo_header{
	display: flex;

}
.navegacao{
	display: flex;
	align-items: center;
}
.link{
	text-decoration: none;
	color: var(--ford-claro);
}
/* Class Main */
.texto_main{
	display: flex;
	flex-direction: row;
	gap: 5px;
	justify-content: center;
}
.imagem_1{
	display: flex;
	justify-content: center;
}
/* Class Footer */
.redes_sociais_p{
	color: aliceblue;
}
.redes_sociais{
	display: flex;
	align-items: center;
	
}
.ford_footer{
	display: flex;
	
}

	